___

<a href='https://www.udemy.com/user/joseportilla/'><img src='../Pierian_Data_Logo.png'/></a>
___
<center><em>Content Copyright by Pierian Data</em></center>

# Function Practice Exercises

Problems are arranged in increasing difficulty:
* Warmup - these can be solved using basic comparisons and methods
* Level 1 - these may involve if/then conditional statements and simple methods
* Level 2 - these may require iterating over sequences, usually with some kind of loop
* Challenging - these will take some creativity to solve

## WARMUP SECTION:

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [1]:
def lesser_of_two_evens(a,b):
    if a%2==0 and b%2==0:
        if a < b:
            return a
        if b < a:
            return b
    else:
        if a < b:
            return b
        if b<a:
            return a

In [2]:
# Check
lesser_of_two_evens(2,4)

2

In [3]:
# Check
lesser_of_two_evens(2,5)

5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [7]:
def animal_crackers(text):
    text=text.split()
    
    if text[0][0]==text[1][0]:
        return True

In [8]:
# Check
print(animal_crackers('Levelheaded Llama'))

Levelheaded
True

In [9]:
# Check
print(animal_crackers('Crazy Kangaroo'))

Crazy
None

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [10]:
def makes_twenty(n1,n2):
    if (n1+n2)==20 or n1==20 or n2==20:
        return True
    else:
        return False

In [11]:
# Check
print(makes_twenty(20,10))

True

In [12]:
# Check
print(makes_twenty(2,3))

False

# LEVEL 1 PROBLEMS

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [23]:
def old_macdonald(name):
    
    a=str(name[0].upper())
    b=a+name[1:3]+name[3].upper()+name[4:len(name)]
    print(b)

In [24]:
# Check
old_macdonald('macdonald')

MacDonald

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [25]:
def master_yoda(text):
    text=text.split()
    
    reverse_text=text[::-1]
    return reverse_text

In [26]:
# Check
master_yoda('I am home')

['home', 'am', 'I']

In [27]:
# Check
master_yoda('We are ready')

['ready', 'are', 'We']

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [34]:
def almost_there(n):
    #if within 10 of 100 or 200
    if abs(n-100 )<=10 or abs(n-200)<10:
        return True
    else:
        return False

In [35]:
# Check
almost_there(104)

True

In [36]:
# Check
almost_there(150)

False

In [37]:
# Check
almost_there(209)

True

# LEVEL 2 PROBLEMS

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [25]:
"""
def has_33(num):
    if num[0]==3 and num[1]==3:
        return True
    elif num[1]==3 and num[2]==3:
        return True
    else:
        return False
 """   
def has_33(num):
    i=0
    
    print((num))
    while(i<=len(num)-2):
        #find two 3s in a row
        if (num[i]==3 and num[i+1]==3):
            return True
        i=i+1
    return False

In [26]:
# Check
print(has_33([1, 3, 3]))

[1, 3, 3]
True

In [7]:
# Check
print(has_33([1, 3, 1, 3]))

[1, 3, 1, 3]
False

In [8]:
# Check
print(has_33([3, 1, 3]))

[3, 1, 3]
False

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [11]:
def paper_doll(text):
    new_text=''
    
    for char in text:
        i=0
        #repeat each char 3 times
        while i<3:
            new_text=new_text+char
            i=i+1
            
    return new_text

In [12]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [13]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [21]:
def blackjack(a,b,c):
    if (a+b+c)<=21:
        return a+b+c
    elif (a+b+c)>21 and (a==11 or b==11 or c==11):
        sum=a+b+c-10
        if sum>21:
            return "BUST"
        else:
            return sum
    else:
        return "BUST"

In [22]:
# Check
blackjack(5,6,7)

18

In [23]:
# Check
blackjack(9,9,9)

'BUST'

In [24]:
# Check
blackjack(9,9,11)

19

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [5]:
def summer_69(arr):
    new_text=[]
   # print(len(arr))
    if len(arr)==0:
        print("in")
        return 0
    #find array items outside 6 followed by 9
    elif 6 in arr and 9 in arr:
        index1=arr.index(6)
        index2=arr.index(9)
        new_text=arr[0:index1]
        
        i=1
        while index2+i<len(arr):
            new_text.append(arr[index2+i])
            i=i+1
        new_sum=sum(new_text)
    else:
        #array does not have 6 to 9 sum all
        new_sum=sum(arr)
    return new_sum

In [6]:
# Check
print(summer_69([1, 3, 5]))

9

In [7]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

9

In [8]:
# Check
summer_69([2, 1, 6, 9, 11])

14

# CHALLENGING PROBLEMS

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [1]:

def spy_game(nums):

    code = [0,0,7,'x']
    
    #if number in code pop
    for num in nums:
        if num == code[0]:
            code.pop(0)   # code.remove(num) also works
    #if pop all but x return true   
    return len(code) == 1

In [2]:
# Check
print(spy_game([1,2,4,0,0,7,5]))

True

In [3]:
# Check
print(spy_game([1,0,2,4,0,5,7]))

True

In [4]:
# Check
print(spy_game([1,7,2,0,4,5,0]))

False

## Great Job!